* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./Fonts/Roboto-Regular.ttf);
}
.page {
  flex: 1 1 auto;
}

._container, .page_discover-block {
  max-width: 940px;
  margin: 0 auto;
}

.block-img, .card-culture .card-culture__image,
.card-culture .card-relaxation__image,
.card-relaxation .card-culture__image,
.card-relaxation .card-relaxation__image, .card-sport .card-sport__image,
.card-sport .card-health__image,
.card-sport .card-extreme__image,
.card-sport .card-games__image,
.card-sport .card-trevelling__image,
.card-health .card-sport__image,
.card-health .card-health__image,
.card-health .card-extreme__image,
.card-health .card-games__image,
.card-health .card-trevelling__image,
.card-extreme .card-sport__image,
.card-extreme .card-health__image,
.card-extreme .card-extreme__image,
.card-extreme .card-games__image,
.card-extreme .card-trevelling__image,
.card-games .card-sport__image,
.card-games .card-health__image,
.card-games .card-extreme__image,
.card-games .card-games__image,
.card-games .card-trevelling__image,
.card-trevelling .card-sport__image,
.card-trevelling .card-health__image,
.card-trevelling .card-extreme__image,
.card-trevelling .card-games__image,
.card-trevelling .card-trevelling__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-background, .card-culture .card-culture__image .image-culture,
.card-culture .card-culture__image .image-relaxation,
.card-culture .card-relaxation__image .image-culture,
.card-culture .card-relaxation__image .image-relaxation,
.card-relaxation .card-culture__image .image-culture,
.card-relaxation .card-culture__image .image-relaxation,
.card-relaxation .card-relaxation__image .image-culture,
.card-relaxation .card-relaxation__image .image-relaxation, .card-sport .card-sport__image .image-sport,
.card-sport .card-sport__image .image-health,
.card-sport .card-sport__image .image-extreme,
.card-sport .card-sport__image .image-games,
.card-sport .card-sport__image .image-trevelling,
.card-sport .card-health__image .image-sport,
.card-sport .card-health__image .image-health,
.card-sport .card-health__image .image-extreme,
.card-sport .card-health__image .image-games,
.card-sport .card-health__image .image-trevelling,
.card-sport .card-extreme__image .image-sport,
.card-sport .card-extreme__image .image-health,
.card-sport .card-extreme__image .image-extreme,
.card-sport .card-extreme__image .image-games,
.card-sport .card-extreme__image .image-trevelling,
.card-sport .card-games__image .image-sport,
.card-sport .card-games__image .image-health,
.card-sport .card-games__image .image-extreme,
.card-sport .card-games__image .image-games,
.card-sport .card-games__image .image-trevelling,
.card-sport .card-trevelling__image .image-sport,
.card-sport .card-trevelling__image .image-health,
.card-sport .card-trevelling__image .image-extreme,
.card-sport .card-trevelling__image .image-games,
.card-sport .card-trevelling__image .image-trevelling,
.card-health .card-sport__image .image-sport,
.card-health .card-sport__image .image-health,
.card-health .card-sport__image .image-extreme,
.card-health .card-sport__image .image-games,
.card-health .card-sport__image .image-trevelling,
.card-health .card-health__image .image-sport,
.card-health .card-health__image .image-health,
.card-health .card-health__image .image-extreme,
.card-health .card-health__image .image-games,
.card-health .card-health__image .image-trevelling,
.card-health .card-extreme__image .image-sport,
.card-health .card-extreme__image .image-health,
.card-health .card-extreme__image .image-extreme,
.card-health .card-extreme__image .image-games,
.card-health .card-extreme__image .image-trevelling,
.card-health .card-games__image .image-sport,
.card-health .card-games__image .image-health,
.card-health .card-games__image .image-extreme,
.card-health .card-games__image .image-games,
.card-health .card-games__image .image-trevelling,
.card-health .card-trevelling__image .image-sport,
.card-health .card-trevelling__image .image-health,
.card-health .card-trevelling__image .image-extreme,
.card-health .card-trevelling__image .image-games,
.card-health .card-trevelling__image .image-trevelling,
.card-extreme .card-sport__image .image-sport,
.card-extreme .card-sport__image .image-health,
.card-extreme .card-sport__image .image-extreme,
.card-extreme .card-sport__image .image-games,
.card-extreme .card-sport__image .image-trevelling,
.card-extreme .card-health__image .image-sport,
.card-extreme .card-health__image .image-health,
.card-extreme .card-health__image .image-extreme,
.card-extreme .card-health__image .image-games,
.card-extreme .card-health__image .image-trevelling,
.card-extreme .card-extreme__image .image-sport,
.card-extreme .card-extreme__image .image-health,
.card-extreme .card-extreme__image .image-extreme,
.card-extreme .card-extreme__image .image-games,
.card-extreme .card-extreme__image .image-trevelling,
.card-extreme .card-games__image .image-sport,
.card-extreme .card-games__image .image-health,
.card-extreme .card-games__image .image-extreme,
.card-extreme .card-games__image .image-games,
.card-extreme .card-games__image .image-trevelling,
.card-extreme .card-trevelling__image .image-sport,
.card-extreme .card-trevelling__image .image-health,
.card-extreme .card-trevelling__image .image-extreme,
.card-extreme .card-trevelling__image .image-games,
.card-extreme .card-trevelling__image .image-trevelling,
.card-games .card-sport__image .image-sport,
.card-games .card-sport__image .image-health,
.card-games .card-sport__image .image-extreme,
.card-games .card-sport__image .image-games,
.card-games .card-sport__image .image-trevelling,
.card-games .card-health__image .image-sport,
.card-games .card-health__image .image-health,
.card-games .card-health__image .image-extreme,
.card-games .card-health__image .image-games,
.card-games .card-health__image .image-trevelling,
.card-games .card-extreme__image .image-sport,
.card-games .card-extreme__image .image-health,
.card-games .card-extreme__image .image-extreme,
.card-games .card-extreme__image .image-games,
.card-games .card-extreme__image .image-trevelling,
.card-games .card-games__image .image-sport,
.card-games .card-games__image .image-health,
.card-games .card-games__image .image-extreme,
.card-games .card-games__image .image-games,
.card-games .card-games__image .image-trevelling,
.card-games .card-trevelling__image .image-sport,
.card-games .card-trevelling__image .image-health,
.card-games .card-trevelling__image .image-extreme,
.card-games .card-trevelling__image .image-games,
.card-games .card-trevelling__image .image-trevelling,
.card-trevelling .card-sport__image .image-sport,
.card-trevelling .card-sport__image .image-health,
.card-trevelling .card-sport__image .image-extreme,
.card-trevelling .card-sport__image .image-games,
.card-trevelling .card-sport__image .image-trevelling,
.card-trevelling .card-health__image .image-sport,
.card-trevelling .card-health__image .image-health,
.card-trevelling .card-health__image .image-extreme,
.card-trevelling .card-health__image .image-games,
.card-trevelling .card-health__image .image-trevelling,
.card-trevelling .card-extreme__image .image-sport,
.card-trevelling .card-extreme__image .image-health,
.card-trevelling .card-extreme__image .image-extreme,
.card-trevelling .card-extreme__image .image-games,
.card-trevelling .card-extreme__image .image-trevelling,
.card-trevelling .card-games__image .image-sport,
.card-trevelling .card-games__image .image-health,
.card-trevelling .card-games__image .image-extreme,
.card-trevelling .card-games__image .image-games,
.card-trevelling .card-games__image .image-trevelling,
.card-trevelling .card-trevelling__image .image-sport,
.card-trevelling .card-trevelling__image .image-health,
.card-trevelling .card-trevelling__image .image-extreme,
.card-trevelling .card-trevelling__image .image-games,
.card-trevelling .card-trevelling__image .image-trevelling {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 45px;
}

.width-32, .card-sport,
.card-health,
.card-extreme,
.card-games,
.card-trevelling {
  position: relative;
  width: 32%;
}

.z-index-10 {
  position: relative;
  z-index: 10;
}

.title-position, .card-culture .card-culture__title,
.card-culture .card-relaxation__title,
.card-relaxation .card-culture__title,
.card-relaxation .card-relaxation__title, .card-sport .card-sport__title,
.card-sport .card-health__title,
.card-sport .card-extreme__title,
.card-sport .card-games__title,
.card-sport .card-trevelling__title,
.card-health .card-sport__title,
.card-health .card-health__title,
.card-health .card-extreme__title,
.card-health .card-games__title,
.card-health .card-trevelling__title,
.card-extreme .card-sport__title,
.card-extreme .card-health__title,
.card-extreme .card-extreme__title,
.card-extreme .card-games__title,
.card-extreme .card-trevelling__title,
.card-games .card-sport__title,
.card-games .card-health__title,
.card-games .card-extreme__title,
.card-games .card-games__title,
.card-games .card-trevelling__title,
.card-trevelling .card-sport__title,
.card-trevelling .card-health__title,
.card-trevelling .card-extreme__title,
.card-trevelling .card-games__title,
.card-trevelling .card-trevelling__title {
  position: relative;
  z-index: 10;
  text-align: center;
}

.title-margin_1, .card-culture .card-culture__title,
.card-culture .card-relaxation__title,
.card-relaxation .card-culture__title,
.card-relaxation .card-relaxation__title, .card-sport .card-sport__title,
.card-sport .card-health__title,
.card-sport .card-extreme__title,
.card-sport .card-games__title,
.card-sport .card-trevelling__title,
.card-health .card-sport__title,
.card-health .card-health__title,
.card-health .card-extreme__title,
.card-health .card-games__title,
.card-health .card-trevelling__title,
.card-extreme .card-sport__title,
.card-extreme .card-health__title,
.card-extreme .card-extreme__title,
.card-extreme .card-games__title,
.card-extreme .card-trevelling__title,
.card-games .card-sport__title,
.card-games .card-health__title,
.card-games .card-extreme__title,
.card-games .card-games__title,
.card-games .card-trevelling__title,
.card-trevelling .card-sport__title,
.card-trevelling .card-health__title,
.card-trevelling .card-extreme__title,
.card-trevelling .card-games__title,
.card-trevelling .card-trevelling__title {
  margin: 142px 15px 141px 15px;
}

.page_discover-block {
  margin-top: 90px;
}

.discover-block__title {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  color: #444444;
  text-align: center;
  margin-bottom: 35px;
}

.discover-block_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-sport .card-sport__title,
.card-sport .card-health__title,
.card-sport .card-extreme__title,
.card-sport .card-games__title,
.card-sport .card-trevelling__title,
.card-health .card-sport__title,
.card-health .card-health__title,
.card-health .card-extreme__title,
.card-health .card-games__title,
.card-health .card-trevelling__title,
.card-extreme .card-sport__title,
.card-extreme .card-health__title,
.card-extreme .card-extreme__title,
.card-extreme .card-games__title,
.card-extreme .card-trevelling__title,
.card-games .card-sport__title,
.card-games .card-health__title,
.card-games .card-extreme__title,
.card-games .card-games__title,
.card-games .card-trevelling__title,
.card-trevelling .card-sport__title,
.card-trevelling .card-health__title,
.card-trevelling .card-extreme__title,
.card-trevelling .card-games__title,
.card-trevelling .card-trevelling__title {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF;
}
.card-sport .card-sport__image,
.card-sport .card-health__image,
.card-sport .card-extreme__image,
.card-sport .card-games__image,
.card-sport .card-trevelling__image,
.card-health .card-sport__image,
.card-health .card-health__image,
.card-health .card-extreme__image,
.card-health .card-games__image,
.card-health .card-trevelling__image,
.card-extreme .card-sport__image,
.card-extreme .card-health__image,
.card-extreme .card-extreme__image,
.card-extreme .card-games__image,
.card-extreme .card-trevelling__image,
.card-games .card-sport__image,
.card-games .card-health__image,
.card-games .card-extreme__image,
.card-games .card-games__image,
.card-games .card-trevelling__image,
.card-trevelling .card-sport__image,
.card-trevelling .card-health__image,
.card-trevelling .card-extreme__image,
.card-trevelling .card-games__image,
.card-trevelling .card-trevelling__image {
  background-color: #666666;
}
.card-sport .card-sport__image .image-sport,
.card-sport .card-sport__image .image-health,
.card-sport .card-sport__image .image-extreme,
.card-sport .card-sport__image .image-games,
.card-sport .card-sport__image .image-trevelling,
.card-sport .card-health__image .image-sport,
.card-sport .card-health__image .image-health,
.card-sport .card-health__image .image-extreme,
.card-sport .card-health__image .image-games,
.card-sport .card-health__image .image-trevelling,
.card-sport .card-extreme__image .image-sport,
.card-sport .card-extreme__image .image-health,
.card-sport .card-extreme__image .image-extreme,
.card-sport .card-extreme__image .image-games,
.card-sport .card-extreme__image .image-trevelling,
.card-sport .card-games__image .image-sport,
.card-sport .card-games__image .image-health,
.card-sport .card-games__image .image-extreme,
.card-sport .card-games__image .image-games,
.card-sport .card-games__image .image-trevelling,
.card-sport .card-trevelling__image .image-sport,
.card-sport .card-trevelling__image .image-health,
.card-sport .card-trevelling__image .image-extreme,
.card-sport .card-trevelling__image .image-games,
.card-sport .card-trevelling__image .image-trevelling,
.card-health .card-sport__image .image-sport,
.card-health .card-sport__image .image-health,
.card-health .card-sport__image .image-extreme,
.card-health .card-sport__image .image-games,
.card-health .card-sport__image .image-trevelling,
.card-health .card-health__image .image-sport,
.card-health .card-health__image .image-health,
.card-health .card-health__image .image-extreme,
.card-health .card-health__image .image-games,
.card-health .card-health__image .image-trevelling,
.card-health .card-extreme__image .image-sport,
.card-health .card-extreme__image .image-health,
.card-health .card-extreme__image .image-extreme,
.card-health .card-extreme__image .image-games,
.card-health .card-extreme__image .image-trevelling,
.card-health .card-games__image .image-sport,
.card-health .card-games__image .image-health,
.card-health .card-games__image .image-extreme,
.card-health .card-games__image .image-games,
.card-health .card-games__image .image-trevelling,
.card-health .card-trevelling__image .image-sport,
.card-health .card-trevelling__image .image-health,
.card-health .card-trevelling__image .image-extreme,
.card-health .card-trevelling__image .image-games,
.card-health .card-trevelling__image .image-trevelling,
.card-extreme .card-sport__image .image-sport,
.card-extreme .card-sport__image .image-health,
.card-extreme .card-sport__image .image-extreme,
.card-extreme .card-sport__image .image-games,
.card-extreme .card-sport__image .image-trevelling,
.card-extreme .card-health__image .image-sport,
.card-extreme .card-health__image .image-health,
.card-extreme .card-health__image .image-extreme,
.card-extreme .card-health__image .image-games,
.card-extreme .card-health__image .image-trevelling,
.card-extreme .card-extreme__image .image-sport,
.card-extreme .card-extreme__image .image-health,
.card-extreme .card-extreme__image .image-extreme,
.card-extreme .card-extreme__image .image-games,
.card-extreme .card-extreme__image .image-trevelling,
.card-extreme .card-games__image .image-sport,
.card-extreme .card-games__image .image-health,
.card-extreme .card-games__image .image-extreme,
.card-extreme .card-games__image .image-games,
.card-extreme .card-games__image .image-trevelling,
.card-extreme .card-trevelling__image .image-sport,
.card-extreme .card-trevelling__image .image-health,
.card-extreme .card-trevelling__image .image-extreme,
.card-extreme .card-trevelling__image .image-games,
.card-extreme .card-trevelling__image .image-trevelling,
.card-games .card-sport__image .image-sport,
.card-games .card-sport__image .image-health,
.card-games .card-sport__image .image-extreme,
.card-games .card-sport__image .image-games,
.card-games .card-sport__image .image-trevelling,
.card-games .card-health__image .image-sport,
.card-games .card-health__image .image-health,
.card-games .card-health__image .image-extreme,
.card-games .card-health__image .image-games,
.card-games .card-health__image .image-trevelling,
.card-games .card-extreme__image .image-sport,
.card-games .card-extreme__image .image-health,
.card-games .card-extreme__image .image-extreme,
.card-games .card-extreme__image .image-games,
.card-games .card-extreme__image .image-trevelling,
.card-games .card-games__image .image-sport,
.card-games .card-games__image .image-health,
.card-games .card-games__image .image-extreme,
.card-games .card-games__image .image-games,
.card-games .card-games__image .image-trevelling,
.card-games .card-trevelling__image .image-sport,
.card-games .card-trevelling__image .image-health,
.card-games .card-trevelling__image .image-extreme,
.card-games .card-trevelling__image .image-games,
.card-games .card-trevelling__image .image-trevelling,
.card-trevelling .card-sport__image .image-sport,
.card-trevelling .card-sport__image .image-health,
.card-trevelling .card-sport__image .image-extreme,
.card-trevelling .card-sport__image .image-games,
.card-trevelling .card-sport__image .image-trevelling,
.card-trevelling .card-health__image .image-sport,
.card-trevelling .card-health__image .image-health,
.card-trevelling .card-health__image .image-extreme,
.card-trevelling .card-health__image .image-games,
.card-trevelling .card-health__image .image-trevelling,
.card-trevelling .card-extreme__image .image-sport,
.card-trevelling .card-extreme__image .image-health,
.card-trevelling .card-extreme__image .image-extreme,
.card-trevelling .card-extreme__image .image-games,
.card-trevelling .card-extreme__image .image-trevelling,
.card-trevelling .card-games__image .image-sport,
.card-trevelling .card-games__image .image-health,
.card-trevelling .card-games__image .image-extreme,
.card-trevelling .card-games__image .image-games,
.card-trevelling .card-games__image .image-trevelling,
.card-trevelling .card-trevelling__image .image-sport,
.card-trevelling .card-trevelling__image .image-health,
.card-trevelling .card-trevelling__image .image-extreme,
.card-trevelling .card-trevelling__image .image-games,
.card-trevelling .card-trevelling__image .image-trevelling {
  opacity: 0.7;
}

.card-extreme .card-extreme__title {
  margin: 128px 15px 128px 15px;
}

.card-games,
.card-culture {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-culture,
.card-relaxation {
  position: relative;
  width: 66%;
}
.card-culture .card-culture__title,
.card-culture .card-relaxation__title,
.card-relaxation .card-culture__title,
.card-relaxation .card-relaxation__title {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF;
}
.card-culture .card-culture__image,
.card-culture .card-relaxation__image,
.card-relaxation .card-culture__image,
.card-relaxation .card-relaxation__image {
  background-color: #666666;
}
.card-culture .card-culture__image .image-culture,
.card-culture .card-culture__image .image-relaxation,
.card-culture .card-relaxation__image .image-culture,
.card-culture .card-relaxation__image .image-relaxation,
.card-relaxation .card-culture__image .image-culture,
.card-relaxation .card-culture__image .image-relaxation,
.card-relaxation .card-relaxation__image .image-culture,
.card-relaxation .card-relaxation__image .image-relaxation {
  opacity: 0.9;
}

@media screen and (max-width: 880px) {
  .discover-block__title {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    color: #444444;
  }
  .card-sport .card-sport__title,
.card-sport .card-health__title,
.card-health .card-sport__title,
.card-health .card-health__title {
    margin: 129px 25px 128px 25px;
  }
}
@media screen and (max-width: 540px) {
  .page_discover-block {
    margin-top: 36px;
  }
  .discover-block__title {
    margin: 0px 60px 30px 60px;
  }
  .discover-block_cards {
    flex-direction: column;
  }
  .card-sport,
.card-health,
.card-extreme,
.card-games,
.card-trevelling,
.card-culture,
.card-relaxation {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-games,
.card-culture {
    margin-top: 0px;
  }
}
@media screen and (max-width: 375px) {
  .card-sport .card-sport__title,
.card-sport .card-health__title,
.card-sport .card-extreme__title,
.card-health .card-sport__title,
.card-health .card-health__title,
.card-health .card-extreme__title,
.card-extreme .card-sport__title,
.card-extreme .card-health__title,
.card-extreme .card-extreme__title,
.card-games .card-sport__title,
.card-games .card-health__title,
.card-games .card-extreme__title,
.card-trevelling .card-sport__title,
.card-trevelling .card-health__title,
.card-trevelling .card-extreme__title,
.card-culture .card-sport__title,
.card-culture .card-health__title,
.card-culture .card-extreme__title,
.card-relaxation .card-sport__title,
.card-relaxation .card-health__title,
.card-relaxation .card-extreme__title {
    margin: 63px 80px;
  }
  .card-sport .card-games__title,
.card-sport .card-trevelling__title,
.card-sport .card-culture__title,
.card-sport .card-relaxation__title,
.card-health .card-games__title,
.card-health .card-trevelling__title,
.card-health .card-culture__title,
.card-health .card-relaxation__title,
.card-extreme .card-games__title,
.card-extreme .card-trevelling__title,
.card-extreme .card-culture__title,
.card-extreme .card-relaxation__title,
.card-games .card-games__title,
.card-games .card-trevelling__title,
.card-games .card-culture__title,
.card-games .card-relaxation__title,
.card-trevelling .card-games__title,
.card-trevelling .card-trevelling__title,
.card-trevelling .card-culture__title,
.card-trevelling .card-relaxation__title,
.card-culture .card-games__title,
.card-culture .card-trevelling__title,
.card-culture .card-culture__title,
.card-culture .card-relaxation__title,
.card-relaxation .card-games__title,
.card-relaxation .card-trevelling__title,
.card-relaxation .card-culture__title,
.card-relaxation .card-relaxation__title {
    margin: 76px 11px;
  }
}
@media screen and (max-width: 320px) {
  .card-sport .card-sport__title,
.card-health .card-sport__title,
.card-extreme .card-sport__title,
.card-games .card-sport__title,
.card-trevelling .card-sport__title,
.card-culture .card-sport__title,
.card-relaxation .card-sport__title {
    margin: 50px 57px;
  }
  .card-sport .card-health__title,
.card-sport .card-extreme__title,
.card-health .card-health__title,
.card-health .card-extreme__title,
.card-extreme .card-health__title,
.card-extreme .card-extreme__title,
.card-games .card-health__title,
.card-games .card-extreme__title,
.card-trevelling .card-health__title,
.card-trevelling .card-extreme__title,
.card-culture .card-health__title,
.card-culture .card-extreme__title,
.card-relaxation .card-health__title,
.card-relaxation .card-extreme__title {
    margin: 50px 47px;
  }
  .card-sport .card-games__title,
.card-sport .card-trevelling__title,
.card-sport .card-culture__title,
.card-sport .card-relaxation__title,
.card-health .card-games__title,
.card-health .card-trevelling__title,
.card-health .card-culture__title,
.card-health .card-relaxation__title,
.card-extreme .card-games__title,
.card-extreme .card-trevelling__title,
.card-extreme .card-culture__title,
.card-extreme .card-relaxation__title,
.card-games .card-games__title,
.card-games .card-trevelling__title,
.card-games .card-culture__title,
.card-games .card-relaxation__title,
.card-trevelling .card-games__title,
.card-trevelling .card-trevelling__title,
.card-trevelling .card-culture__title,
.card-trevelling .card-relaxation__title,
.card-culture .card-games__title,
.card-culture .card-trevelling__title,
.card-culture .card-culture__title,
.card-culture .card-relaxation__title,
.card-relaxation .card-games__title,
.card-relaxation .card-trevelling__title,
.card-relaxation .card-culture__title,
.card-relaxation .card-relaxation__title {
    margin: 63px 11px;
  }
}/*# sourceMappingURL=Style.discover-block.css.map */